$primary:#0D152C;
$secondary: #003B5D;
$blue:  #2147A7;
$green: #4ABD9B;
$purple: purple;
$transition: all 0.2s ease;
$orange:#EF8C62;
$lightBlue: #6289EF;
$gray:#F9F9F9;
$red:#ef6262;
$readOnly:#82818135;
$radius:10px;
$padding:10px;
$interval20:20px;
$transition: all 0.3s ease;