.table-first {
  p {
    line-height: 0;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
  svg {
    min-width: 12px;
    min-height: 12px;
  }
  &__arrows {
    &--up {
      rotate: 180deg;
    }
  }
}

//----------FilterComponent
.filter {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  transform: translateX(-100vw);
  transition: 0.5s;
  &__content {
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      width: 7px;
      background-color: #f9f9f9;
      &-thumb {
        background-color: #4abd9b;
        border-radius: 3px;
        background-clip: content-box;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      height: 90%;
    }
    width: 30vw;
    @media(max-width:1200px) {
      width: 35vw;
    }
    height: 100vh;
    background-color: white;
    padding: 20px;
    box-shadow: 8px 0px 50px 0px rgba(0, 0, 0, 0.1490196078);
    &--header {
      margin-bottom: 20px;
      color: $green;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      p {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        svg {
          path {
            stroke: $green
          }
        }
      }
      svg {
        path {
          stroke: $primary
        }
      }
    }

  }
  &__cover {
    width: 75%;
  }
  &__active {
    transform: translateX(0);
  }
  &__btn {
    margin-top: auto;
    padding-bottom: 30px;
    display: flex;
    gap: 20px;
    @media(max-width:1400px) {
      justify-content: space-around;
    }

  }
}

//---------ReacSelect-------
.custom-select {
  &__menu {

    border-radius: 10px !important;
    &-list {
      &::-webkit-scrollbar {
        margin: 5px 0;
        width: 7px !important;
        background-color: #f9f9f9 !important;
        &-thumb {
          background-color: #4abd9b !important;
          border-radius: 3px !important;
          background-clip: content-box !important;
        }
      }
    }
  }
  // &__input-container{
  //     padding-left: 15px !important;
  // }
  &__placeholder {
    font-size: 14px !important;
    padding: 2px 5px !important;
    color: $primary !important;
  }
  &__control {
    // box-shadow: 0px 8px 50px 0px #0000001A !important;
    border-radius: 10px !important;
    border-color: var(--color-black) !important;
    &--is-focused {
      box-shadow: none !important;
    }
  }
  &__value-container {
    padding: 5px 8px 6px 15px !important;
  }
  &__indicator-separator {
    display: none;
  }
  &__dropdown-indicator {
    svg {
      color: var(--color-black);
    }
  }
  &__multi-value {
    background-color: $green !important;
  }
  &__multi-value__label {
    background-color: var(--color-aquamarine) !important;
    border-radius: 5px !important;
  }
}

//---------FormElement
.form-item {
  input {
    border: 1px solid $primary;
    border-radius: $radius;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1019607843)
  }
  textarea {
    border: 1px solid $primary;
    border-radius: $radius;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.1019607843);
    min-height: 70px;
  }
  &__error {
    color: red;
  }
  margin-bottom: 25px;
  &__read-only {
    & &--text {
      border-radius: $radius;
      background-color: $readOnly;
      padding: $padding;
      min-height: 35px;
    }
    input {
      background-color: $readOnly;
      box-shadow: none;
      font-size: 14px;
      border: none;
    }
    ol {
      border-radius: $radius;
      background-color: $readOnly;
      list-style-position: inside;
      padding: $padding;
    }
  }
  &__file {
    position: relative;
    div {
      display: flex;
      gap: 20px;
      align-items: center;
      padding-top: 5px;
      button {
        max-height: 40px;
      }
      p {
        display: flex;
        flex-wrap: wrap;
        span {
          word-break: break-all;
        }

      }
      span {
        margin: 0 10px;
      }

    }
    input {
      position: absolute;
      top: 20px;
      max-width: 150px;
      opacity: 0;
      display: none;
    }
  }
  p:first-child {
    margin-bottom: 5px;
    font-weight: 500;
  }
  &__date-range {
    display: flex;
    align-items: center;
    gap: 5px;
    input {
      padding-left: 10px;
    }
  }
  &__password {
    margin-bottom: 5px;
    input {
      padding-left: 45px;
      font-size: 14px;
    }
    span {
      top: 8px;
      svg {
        width: 24px;
        height: 24px;
      }

    }
  }
  &__edit-password {
    position: relative;
    &--btn {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }
  &__status {
    margin-bottom: 60px;
    p {
      .c-btn-green {
        z-index: 1;
      }
      position: relative;
      input {
        width: 280px;
        position: absolute;
        left: 0;
        height: 40px;
        opacity: 0;
      }
      button {
        cursor: unset;
        position: absolute;
        width: 150px;
      }
      button:nth-child(2) {
        left: 135px;
      }
    }
    & &--edit {
      button {
        cursor: pointer;
      }
    }
  }
}


//---------ReactDatePicker----
.calendar {
  border-radius: $radius;
  position: relative;
  svg {
    position: absolute;
    top: 7px;
    right: 10px;
  }
}
.modal {
  &__wrapper {
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      margin: 20px 0;
    }
  }
  &__content {
    min-width: 600px;
    max-width: 1000px;
    padding: 20px;
    background-color: white;
    border-radius: $radius;
    height: fit-content;
  }
  &__form {
    padding-left: 20px;
    textarea {
      border: 1px solid $primary;
      border-radius: $radius;
      padding: $padding;
      min-height: 60px;
      margin-top: 15px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__main {
    overflow-y: auto;
    padding-right: 15px;
    max-height: 80vh;
    &::-webkit-scrollbar {
      width: 7px;
      background-color: #f9f9f9;
      &-thumb {
        background-color: #4abd9b;
        border-radius: 3px;
        background-clip: content-box;
      }
    }
  }
  &__expert-preloader {
    &--wrapper {
      position: relative;
    }
    &--div {
      position: absolute;
      border: 5px solid transparent;
      border-radius: 50%;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      top: 27px;
      right: 10px;
      animation: spin 1s linear infinite;
      height: 25px;
      width: 25px;
      border-left-color: #4abd9b;
    }
  }
  &__heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    margin: 15px 0;
    text-align: center;
  }
  &__icon {
    text-align: center;
    margin: 20px;
  }
  &__ask {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__error-message {
    color: red;
    font-size: 400;
    text-align: center;
    margin: 20px;
  }
  &__buttons {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    justify-content: center;
    .c-btn {
      padding: 10px 20px;
    }
  }
  &__ai {
    padding: 5px 20px;
    textarea {
      max-width: 70%;
      height: 100px;
      border: 1px solid $primary;
    }
    &--header {}
    &--content {}
    &--voiting {
      display: flex;
      max-width: 50%;
      margin: 20px;

      p {
        display: flex;
        flex: 1;
        align-items: center;

        input {
          margin-top: 0;
          margin-right: 15px;
          width: fit-content;
          accent-color: var(--color-aquamarine);
          width: 20px;
          height: 20px;

          &:checked {
            border: 1px solid var(--color-aquamarine);
          }
        }

        label {
          margin: 0;
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }
  &__eds {
    max-width: 600px;
    .form-item {
      max-width: 300px;
    }
    .form-item__file {
      max-width: 100%;
    }
  }
}
